<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name, :class => "form-horizontal")) do |f| %>
  <%= devise_error_messages! %>

  <legend>Sign up to help socialize your RFID Badge!</legend>
  <div class="control-group">
  <label class="control-label" for="fname">First Name:</label>
    <div class="controls">
  	  <%= f.text_field :fname, :autofocus => true %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="lname">Last Name:</label>
    <div class="controls">
  	  <%= f.text_field :lname %>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="inputEmail">E-Mail Address:</label>
    <div class="controls">
      <%= f.email_field :email %>
      <span class="help-block">Holy shit.  You should really read my privacy policy and other stupid legal things.</span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="phone">Cell Phone:</label>
    <div class="controls">
      <%= f.text_field :phone %>
    </div>
  </div>


  <div class="control-group">
    <label class="control-label" for="password">Password:</label>
    <div class="controls">
      <%= f.password_field :password %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="password">Password (again):</label>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

  <label class="checkbox">
      <input type="checkbox"> Yeah.  I agree to the terms and conditions that have yet to be defined...
  </label>

  <div class="control-group">
      <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
