<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="row">
        <div class="field">
            <div class="span2">
                <label class="control-label" for="fname">
                    <%= f.label :fname %>
                </label>
            </div>
            <div class="span3">
                <%= f.text_field :fname %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="field">
            <div class="span2">
                <label class="control-label" for="lname">
                    <%= f.label :lname %>
                </label>
            </div>
            <div class="span3">
                <%= f.text_field :lname %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="field">
            <div class="span2">
                <label class="control-label" for="handel">
                    <%= f.label :handel %>
                </label>
            </div>
            <div class="span3">
                <%= f.text_field :handel %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="field">
            <div class="span2">
                <label class="control-label" for="email">
                    <%= f.label :email %>
                </label>
            </div>
            <div class="span3">
                <%= f.text_field :email %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="field">
            <div class="span2">
                <label class="control-label" for="phone">
                    <%= f.label :phone %>
                </label>
            </div>
            <div class="span3">
                <%= f.text_field :phone %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="field">
            <div class="span2">
                <label class="control-label" for="accesscard">
                    <%= f.label :accesscard %>
                </label>
            </div>
            <div class="span3">
                <%= f.text_field :accesscard %>
            </div>
        </div>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
