<h1>Listing members</h1>

<table class="table-striped">
  <tr>
    <th></th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Handle</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Card SN</th>
    <th>4sq</th>
    <th>FB</th>
    <th>TW</th>
    <th>V Credits</th>
    <th>V Total</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <% next if cannot? :show, member %>
  <tr>
    <% if member.vend_enabled == true %>
      <td><span class="label label-info">Vend</span></td>
    <% else %>
      <td></td>
    <% end %>
    <td><%= member.fname %></td>
    <td><%= member.lname %></td>
    <td><%= member.handle %></td>
    <td><%= member.email %></td>
    <td><%= member.phone %></td>
    <td><%= member.accesscard %></td>
    <% if member.fsqtoken.empty? %>
      <td>No</td>
    <% else %>
      <td>Yes</td>
    <% end %>
    <% if member.fbtoken.empty? %>
      <td>No</td>
    <% else %>
      <td>Yes</td>
    <% end %>
    <% if member.twitoken.empty? %>
      <td>No</td>
    <% else %>
      <td>Yes</td>
    <% end %>
    <td><%= member.vend_credits %></td>
    <td><%= member.vend_total %></td>
    <td><%= link_to 'Show', member if can? :show, member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) if can? :edit, member%></td>
    <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } if can? :delete, member %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member', new_member_path if can? :manage, :all %>
