<h1>Listing members</h1>

<table>
  <tr>
    <th>Fname</th>
    <th>Lname</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Accesscard</th>
    <th>Fsqtoken</th>
    <th>Fbtoken</th>
    <th>Twitoken</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.fname %></td>
    <td><%= member.lname %></td>
    <td><%= member.email %></td>
    <td><%= member.phone %></td>
    <td><%= member.accesscard %></td>
    <td><%= member.fsqtoken %></td>
    <td><%= member.fbtoken %></td>
    <td><%= member.twitoken %></td>
    <td><%= link_to '4SQ CI', controller: "members", action: "checkin", id: member.id %></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member', new_member_path %>
