<p id="notice"><%= notice %></p>

<p>
  <b>First Name:</b>
  <%= @member.fname %>
</p>

<p>
  <b>Last name:</b>
  <%= @member.lname %>
</p>

<p>
  <b>Email:</b>
  <%= @member.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @member.phone %>
</p>

<p>
  <b>Accesscard:</b>
  <%= @member.accesscard %>
</p>

<p>
  <b>FourSquare Token:</b>
  <%= @member.fsqtoken %>
</p>

<p>
  <b>Facebook Token:</b>
  <%= @member.fbtoken %>
</p>

<p>
  <b>Twitter Token:</b>
  <%= @member.twitoken %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
